a:link {
    text-decoration: none;
}

a {
    -webkit-text-fill-color: $color_secundario;
    -webkit-text-stroke: 2px $color_primario;
    letter-spacing: 2px;

    &:hover {
        -webkit-text-fill-color: $color_secundario;
        -webkit-text-stroke: 2px $color_primario;
        letter-spacing: 2px;

    }
}