a:link {
    text-decoration: none;
}

a {
    -webkit-text-fill-color: $color_primario;
    -webkit-text-stroke: $color_primario;
    letter-spacing: 2px;

    &:hover {
        -webkit-text-fill-color: $color_secundario;
        -webkit-text-stroke: 1.5px $color_primario;
        

    }
}