#container_2 {

    h2,
    h3,
    h3 {
        list-style: none;
        text-align: center;
        font-size: 30px;
        font-family: 'Anton', sans-serif;
        background-color: none;
        position: relative;
        -webkit-text-fill-color: $color_secundario;
        -webkit-text-stroke: 3px $color_primario;
        background-color: $color_secundario;
        box-shadow: 1px 2px 15px;
        border-style: solid;
        transition: width 1s;
        &:hover {
            color: black;

        }
    }
}