.body_fotos2 {
   
    background-image: none;
    background-color: $color_terciario;

    .fotos {
        text-align: center;
        font-size: 100px;
        letter-spacing: 6px;
        -webkit-text-fill-color: $color_secundario;
        -webkit-text-stroke: 3px $color_primario;
        
    }

    #carouselExampleControls {
        background-color: $color_secundario;
        border-style: solid;
        margin: auto;

    }
}