@media (max-width: 768px) {
  
  
  body {

    nav ul {
      display: grid;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    h1 {
      text-align: center;
      font-size: 36px;
      font-family: 'Bangers', cursive;
      -webkit-text-fill-color: rgb(250, 227, 243);
      -webkit-text-stroke: 2px black;
      letter-spacing: 6px;
    }

    iframe {
      width: 350px;
      height: 600px;
    }

    .container_2 {

      h2 {
        font-size: 26px;
      }

      h3 {
        font-size: 25px;
      }
    }
  }

  .body_newsletter {

    .newsletter {
      font-size: 40px;
      text-align: center;
    }
  }

  .body_tour {

    .tour {
      font-size: 40px;
      text-align: center;
    }

    table tr th {
      text-align: center;
      font-size: 15px;
      font-family: 'Anton', sans-serif;
      -webkit-text-fill-color: $color_secundario;
      -webkit-text-stroke: 1px $color_primario;
      padding: 0px;
      background-color: $color_secundario;
      border-style: solid;
      box-shadow: 1px 2px 15px;
    }

  }

  .body_fotos2 {


    .fotos {
      text-align: center;
      font-size: 50px;

    }
  }

  .body_merch {
    background-position: center;
    align-items: center;
    text-align: center;
    ;

    .merch {
      font-size: 50px;
      text-align: center;
    }
    .producto {
      width: 100%;
    }
  }

  .body_historia {
    text-align: center;

    .historia {
      font-size: 50px;
      text-align: center;
    }
  }
}